temp_deploy.json
{
  "name": "Sarah SMS Tool - BULLETPROOF v2.2",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "ElevenLabs Tool Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sarah-sms-bulletproof-v22",
      "parameters": {
        "httpMethod": "POST",
        "path": "sarah-sms-v2",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "extract-params",
      "name": "Extract & Validate Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {"id": "phone", "name": "phone_number", "value": "={{ (($json.body && $json.body.phone_number) || $json.phone_number || '').toString().replace(/[^0-9+]/g, '') }}", "type": "string"},
            {"id": "name", "name": "first_name", "value": "={{ ($json.body && $json.body.caller_name) || ($json.body && $json.body.first_name) || $json.caller_name || $json.first_name || 'there' }}", "type": "string"},
            {"id": "phone_valid", "name": "phone_valid", "value": "={{ /^\\+1[0-9]{10}$/.test((($json.body && $json.body.phone_number) || $json.phone_number || '').toString().replace(/[^0-9+]/g, '')) }}", "type": "boolean"},
            {"id": "raw_phone", "name": "raw_phone_input", "value": "={{ ($json.body && $json.body.phone_number) || $json.phone_number || 'MISSING' }}", "type": "string"}
          ]
        }
      }
    },
    {
      "id": "switch-validation",
      "name": "Validate Phone Format",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [690, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {"outputKey": "valid", "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "phone-valid-check", "leftValue": "={{ $json.phone_valid }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}]}},
            {"outputKey": "missing", "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "phone-missing-check", "leftValue": "={{ $json.raw_phone_input }}", "rightValue": "MISSING", "operator": {"type": "string", "operation": "equals"}}]}},
            {"outputKey": "invalid", "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "phone-invalid-check", "leftValue": "={{ $json.phone_valid }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}]}}
          ]
        },
        "options": {"fallbackOutput": "extra"}
      }
    },
    {
      "id": "respond-missing",
      "name": "Error: Missing Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 440],
      "parameters": {"respondWith": "json", "responseBody": "={{ { success: false, error: 'MISSING_PHONE_NUMBER', message: 'No phone number provided', hint: '+1XXXXXXXXXX format required' } }}", "options": {"responseCode": 400}}
    },
    {
      "id": "respond-invalid",
      "name": "Error: Invalid Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 580],
      "parameters": {"respondWith": "json", "responseBody": "={{ { success: false, error: 'INVALID_PHONE_FORMAT', message: 'Invalid phone format', provided: $json.raw_phone_input } }}", "options": {"responseCode": 400}}
    },
    {
      "id": "send-sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [910, 160],
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "+18882662193",
        "to": "={{ $json.phone_number }}",
        "message": "=Hi {{ $json.first_name }}! Here's your link to book a demo: https://cal.com/wranngle/demo"
      },
      "credentials": {
        "twilioApi": {
          "id": "7NL1kUMhDvMY4yUc",
          "name": "Twilio SMS - Sarah"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "switch-send-result",
      "name": "Check Send Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1130, 160],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {"outputKey": "success", "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "loose"}, "combinator": "and", "conditions": [{"id": "has-sid", "leftValue": "={{ $json.sid }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}]}},
            {"outputKey": "error", "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "loose"}, "combinator": "or", "conditions": [{"id": "no-sid", "leftValue": "={{ $json.sid }}", "rightValue": "", "operator": {"type": "string", "operation": "empty"}}, {"id": "has-error-code", "leftValue": "={{ $json.error_code }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}]}}
          ]
        },
        "options": {"fallbackOutput": "extra"}
      }
    },
    {
      "id": "verify-delivery",
      "name": "Verify Delivery Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 60],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ACCOUNT_SID = process.env.TWILIO_ACCOUNT_SID;\nconst AUTH_TOKEN = process.env.TWILIO_AUTH_TOKEN;\nconst MAX_POLLS = 3;\nconst POLL_DELAY_MS = 2000;\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const messageSid = item.json.sid;\n  const phoneNumber = $('Extract & Validate Parameters').first().json.phone_number;\n  const firstName = $('Extract & Validate Parameters').first().json.first_name;\n  \n  if (!messageSid) {\n    results.push({ json: { success: false, error: 'NO_MESSAGE_SID', message: 'Twilio did not return a message SID' } });\n    continue;\n  }\n  \n  let finalStatus = null;\n  let errorCode = null;\n  let errorMessage = null;\n  let pollCount = 0;\n  \n  const pollUrl = `https://api.twilio.com/2010-04-01/Accounts/${ACCOUNT_SID}/Messages/${messageSid}.json`;\n  const authHeader = 'Basic ' + Buffer.from(`${ACCOUNT_SID}:${AUTH_TOKEN}`).toString('base64');\n  \n  for (let i = 0; i < MAX_POLLS; i++) {\n    pollCount++;\n    if (i > 0) { await new Promise(resolve => setTimeout(resolve, POLL_DELAY_MS)); }\n    try {\n      const response = await fetch(pollUrl, { headers: { 'Authorization': authHeader } });\n      if (!response.ok) { throw new Error(`HTTP ${response.status}`); }\n      const data = await response.json();\n      finalStatus = data.status;\n      errorCode = data.error_code || null;\n      errorMessage = data.error_message || null;\n      if (['delivered', 'failed', 'undelivered', 'sent'].includes(finalStatus)) { break; }\n    } catch (e) { console.log(`Poll ${i+1} failed: ${e.message}`); }\n  }\n  \n  const isSuccess = ['delivered', 'sent'].includes(finalStatus);\n  let troubleshooting = null;\n  if (errorCode) {\n    const errorMap = { 30032: 'Toll-free number not verified', 21211: 'Invalid phone format', 21614: 'Landline', 30003: 'Unreachable', 30004: 'Blocked', 30005: 'Unknown number', 30007: 'Carrier violation' };\n    troubleshooting = errorMap[errorCode] || `Error ${errorCode}`;\n  }\n  \n  results.push({ json: { success: isSuccess, status: finalStatus, verification: isSuccess ? 'CONFIRMED' : (['failed', 'undelivered'].includes(finalStatus) ? 'FAILED' : 'PENDING'), message_sid: messageSid, recipient: phoneNumber, first_name: firstName, polls_completed: pollCount, error_code: errorCode, error_message: errorMessage, troubleshooting: troubleshooting } });\n}\n\nreturn results;"
      }
    },
    {
      "id": "switch-final-status",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1570, 60],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {"outputKey": "success", "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "is-success", "leftValue": "={{ $json.success }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}]}},
            {"outputKey": "failed", "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "is-failed", "leftValue": "={{ $json.verification }}", "rightValue": "FAILED", "operator": {"type": "string", "operation": "equals"}}]}},
            {"outputKey": "pending", "conditions": {"options": {"leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "is-pending", "leftValue": "={{ $json.verification }}", "rightValue": "PENDING", "operator": {"type": "string", "operation": "equals"}}]}}
          ]
        },
        "options": {"fallbackOutput": "extra"}
      }
    },
    {
      "id": "respond-success",
      "name": "Success: Delivered",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, -40],
      "parameters": {"respondWith": "json", "responseBody": "={{ { success: true, status: $json.status, verification: $json.verification, message_sid: $json.message_sid, recipient: $json.recipient, first_name: $json.first_name, polls_completed: $json.polls_completed } }}", "options": {"responseCode": 200}}
    },
    {
      "id": "respond-delivery-failed",
      "name": "Error: Delivery Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 100],
      "parameters": {"respondWith": "json", "responseBody": "={{ { success: false, status: $json.status, verification: 'FAILED', error: 'DELIVERY_FAILED', error_code: $json.error_code, error_message: $json.error_message, troubleshooting: $json.troubleshooting } }}", "options": {"responseCode": 500}}
    },
    {
      "id": "respond-pending",
      "name": "Warning: Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 240],
      "parameters": {"respondWith": "json", "responseBody": "={{ { success: false, error: 'DELIVERY_UNCONFIRMED', message: 'Could not confirm SMS delivery - retry or verify manually', message_sid: $json.message_sid, polls_completed: $json.polls_completed } }}", "options": {"responseCode": 503}}
    },
    {
      "id": "respond-send-error",
      "name": "Error: Send Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 260],
      "parameters": {"respondWith": "json", "responseBody": "={{ { success: false, error: 'TWILIO_API_ERROR', error_code: $json.error_code || $json.code || 'UNKNOWN', error_message: $json.error_message || $json.message || 'Failed to submit to Twilio API' } }}", "options": {"responseCode": 500}}
    }
  ],
  "connections": {
    "ElevenLabs Tool Webhook": {"main": [[{"node": "Extract & Validate Parameters", "type": "main", "index": 0}]]},
    "Extract & Validate Parameters": {"main": [[{"node": "Validate Phone Format", "type": "main", "index": 0}]]},
    "Validate Phone Format": {"main": [[{"node": "Send SMS via Twilio", "type": "main", "index": 0}], [{"node": "Error: Missing Phone", "type": "main", "index": 0}], [{"node": "Error: Invalid Phone", "type": "main", "index": 0}]]},
    "Send SMS via Twilio": {"main": [[{"node": "Check Send Result", "type": "main", "index": 0}]]},
    "Check Send Result": {"main": [[{"node": "Verify Delivery Status", "type": "main", "index": 0}], [{"node": "Error: Send Failed", "type": "main", "index": 0}]]},
    "Verify Delivery Status": {"main": [[{"node": "Route by Status", "type": "main", "index": 0}]]},
    "Route by Status": {"main": [[{"node": "Success: Delivered", "type": "main", "index": 0}], [{"node": "Error: Delivery Failed", "type": "main", "index": 0}], [{"node": "Warning: Pending", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "saveDataErrorExecution": "all", "saveManualExecutions": true}
}
